.DS_Store
.vscode/
rag_env/
law/
chroma_legal_data/
*.gguf
*.xlsx~
__pycache__/
*.pyc
armenia_lawyer_router_gguf/
.venv/
bin/
src/data/final_data_with_keywords.csv
src/data/final_data_with_keywords.xlsx
